header {
	background-image: url('../img/photo.jpg');
	width: 100%;
	
	height: 100vh;
	color: #fff;
   background-repeat: no-repeat;
	background-position: center center;
}

.logo {
	display: flex;
	align-items: center;
	width: 181px;
	text-decoration: none;
	background-color: #484642;
}

.logo-svg {
	fill: #fff;
}

.logo-txt {
	font-family: raleway_reg;
	color: #fff;
	font-size: 34px;
	font-weight: 400;
	text-align: right;
	text-transform: capitalize;
}

.logo:hover .logo-svg {
	fill: #998675;
}

.logo:hover .logo-txt {
	color: #998675;
}
.header_top {
	 width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}


.header_nav ul {
  list-style-type: none;
  width: 1170px;
  /* можно попробовать задать min-width и max-width */
  padding: 0;
  border: 1px solid black;
  background-color: #36393c;
  
  display: flex;
  justify-content: space-between;
}

ul li {
  
}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  /* border: 1px solid black; */
  /* background-color: #ccc; */
}