@font-face {
	font-family: 'montserrat', Regular, sans-serif;
		src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
		font-family: 'raleway_bold', Regular, sans-serif;
	src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'raleway_medium', Regular, sans-serif;
	src: url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'raleway_semibold', Regular, sans-serif;
	src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	